In [79]:
import pandas as pd
import numpy as np
import seaborn as sns

In [80]:
frd_df = pd.read_csv('~/data/fraud.csv')

In [81]:
pd.set_option('display.max_columns', 70)

In [82]:
frd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [185]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,city_pop,job,dob,is_fraud,cc_mean,birth_year,dob_mean,distance_km
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,149,Special educational needs teacher,1978-06-21,0,56.078113,1978,63.048175,30.216618
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,124967,Operational researcher,1980-12-21,0,59.858059,1980,58.445994,84.714605
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,71485,Leisure centre manager,1974-07-19,0,87.328067,1974,64.654092,67.768167
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,31515,Police officer,1971-11-05,0,64.317839,1971,75.371008,22.322745
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,378909,"Designer, furniture",1977-02-22,0,90.747123,1977,88.065887,79.398244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,186140,English as a second language teacher,1983-02-08,0,87.442772,1983,72.216370,98.043837
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,1523,Research scientist (physical sciences),1984-06-03,0,58.181297,1984,74.401547,127.240424
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,28739,Futures trader,1999-12-27,0,50.452289,1999,56.619188,100.023736
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,3684,Musician,1981-11-29,0,88.704297,1981,76.752196,80.887812
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,116001,Media buyer,1993-05-10,0,61.737724,1993,72.648068,72.380990

In [84]:
frd_df['is_fraud'].value_counts()  # is_fraud 몇건이나.

0    489890
1      1244
Name: is_fraud, dtype: int64

In [85]:
frd_df.isna().mean()   # 결측치

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

In [86]:
frd_df[frd_df['is_fraud'] == 1] # 사기친 데이터 확인

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
4794,2019-01-12 00:59:01,581686439828,"fraud_Zieme, Bode and Dooley",gas_transport,11.73,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,77c44b4cff9a624f54d389887605dbb2,1326329941,41.947427,-79.796264,1
4816,2019-01-12 03:48:07,581686439828,fraud_Koepp-Witting,grocery_pos,328.68,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,90e7917ee506a5b1ea068bdf2fac064b,1326340087,42.148618,-79.398595,1
4979,2019-01-12 15:46:10,581686439828,fraud_Abernathy and Sons,food_dining,120.58,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,aaac448ccb3f869994c4f1cad95dba18,1326383170,42.470024,-80.126576,1
5073,2019-01-12 19:53:59,581686439828,fraud_Boyer-Reichert,shopping_net,1081.35,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,8545f40c91a37f8015749b0f962cff20,1326398039,42.455406,-79.521640,1
5124,2019-01-12 22:44:05,581686439828,fraud_Fisher-Schowalter,shopping_net,776.70,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,3b6d88a3c7349cb3ee408bce6e4ffac2,1326408245,40.680209,-79.099101,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477832,2020-12-21 02:21:41,4716561796955522,fraud_Murray-Smitham,grocery_pos,358.24,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,8a5d80eb4f573480db90899dd8b1c34a,1387592501,47.526202,-113.643313,1
477847,2020-12-21 02:36:03,4716561796955522,fraud_Schmidt and Sons,shopping_net,859.12,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,fe8464ee336fe08b2adacdd0867b1343,1387593363,48.272348,-112.328075,1
479296,2020-12-21 22:38:38,4716561796955522,fraud_Quitzon-Goyette,home,209.84,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,7cde9b7604a025e251756a4bc9615888,1387665518,49.173669,-112.698767,1
479305,2020-12-21 22:42:11,4716561796955522,fraud_Schulist Ltd,food_dining,123.58,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,daabc7ccf6ccf2c85c1f6186ca11193a,1387665731,48.913048,-113.214921,1
479341,2020-12-21 22:59:22,4716561796955522,fraud_Botsford and Sons,home,219.11,Lauren,Anderson,F,11014 Chad Lake Apt. 573,Heart Butte,MT,59448,48.2777,-112.8456,743,Water engineer,1972-05-04,4de4d5177b9b5c2054a638583ba63a3d,1387666762,47.911219,-113.691603,1

In [87]:
frd_df[frd_df['is_fraud'] == 1]['first'].value_counts()

Kenneth     37
Samuel      36
James       34
Lisa        30
Margaret    29
            ..
Susan        4
Kristina     3
Donna        3
Rebecca      2
Erin         2
Name: first, Length: 92, dtype: int64

한국 금결원 금융 api  참조 

trans_num	주문번호	Y	aNS(128)	

아래 조건에 부합하는 경우 결제건의 주문번호 전송
- <조건>
1) 정보제공자가 겸업사(선불업,결제업)며,
2) 거래유형(코드)가 결제(5501) 또는 결제 취소(5502)며,
3) 자사선불 활용 복합결제(예: 카드+선불 등)인 경우
- 전금-103의 주문번호와 같은 값 전송

In [88]:
frd_df['city_pop'].value_counts()  # city_pop 무슨 의미?   제휴 정책 관련..?

606        8049
1595797    7305
725        4392
7155       4386
276896     4386
           ...
84106      3641
16183      3638
5621       3638
71335      3638
190178     3628
Name: city_pop, Length: 122, dtype: int64

In [89]:
frd_df[frd_df['is_fraud'] == 1]['city_pop'].value_counts() # 사기 활용에 제휴 얼마나 활용? ... 의미를 모르겠음. 인구 ? city population ?

606        32
1595797    18
3224       16
7155       16
31394      16
           ..
19685       3
320420      2
1312922     2
186140      2
46563       2
Name: city_pop, Length: 120, dtype: int64

# Step 1

1. 사기거래 여부 예측 시 불필요 컬럼 제거

In [90]:
frd_df.drop( ['category', 'gender', 'zip', 'trans_num', 'unix_time'] ,axis=1 , inplace=True)

In [91]:
frd_df.head()

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0

2.   2개 이상의 새로운 피처(변수) 생성

In [92]:
#frd_df['cc_mean'] = frd_df.groupby('cc_num')['amt'].mean() # 카드번호별 ( 개인이라 정의 ) 평균값

In [93]:
frd_df.groupby('cc_num')['amt'].mean()

cc_num
503874407318           60.253406
567868110212           83.442558
571365235126           59.392974
581686439828           58.578675
630423337322           56.078113
                         ...
4792627764422477317    84.135134
4797297220948468262    56.313583
4861310130652566408    85.805306
4906628655840914250    54.243453
4956828990005111019    59.858059
Name: amt, Length: 124, dtype: float64

In [94]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,34.853497,-78.664158,0
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0

In [95]:
frd_df['cc_mean'] = frd_df.groupby('cc_num')['amt'].transform(lambda x: x.mean(skipna=True))

In [96]:
frd_df.isna().mean()

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
amt                      0.0
first                    0.0
last                     0.0
street                   0.0
city                     0.0
state                    0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
cc_mean                  0.0
dtype: float64

In [97]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,cc_mean
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,56.078113
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0,59.858059
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,87.328067
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0,64.317839
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,90.747123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,34.853497,-78.664158,0,87.442772
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0,58.181297
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,50.452289
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,88.704297
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,61.737724

In [98]:
frd_df['job'].value_counts().count()

110

In [99]:
frd_df.groupby('job')['amt'].mean() # 직무별 , 결제금액 평균

job
Advertising account planner    66.101181
Building surveyor              47.478681
Camera operator                59.443771
Careers information officer    72.749362
Ceramics designer              71.707598
                                 ...
Toxicologist                   88.524480
Trade mark attorney            92.415746
Travel agency manager          49.789839
Tree surgeon                   57.042067
Water engineer                 70.977421
Name: amt, Length: 110, dtype: float64

In [100]:
frd_df['job_mean'] = frd_df.groupby('job')['amt'].transform(lambda x: x.mean(skipna=True))  
## job 보다는 연령별로. job은 개별 회원이 가입시 기록한것으로, 거의개별 회원 하나에 대응하는 데이터임.

In [101]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,cc_mean,job_mean
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,56.078113,56.078113
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0,59.858059,59.858059
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,87.328067,87.328067
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0,64.317839,64.317839
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,90.747123,90.747123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,34.853497,-78.664158,0,87.442772,87.442772
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0,58.181297,58.181297
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,50.452289,50.452289
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,88.704297,74.078841
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,61.737724,61.737724

In [102]:
## dob 앞자리만
frd_df['dob']

0         1978-06-21
1         1980-12-21
2         1974-07-19
3         1971-11-05
4         1977-02-22
             ...
491129    1983-02-08
491130    1984-06-03
491131    1999-12-27
491132    1981-11-29
491133    1993-05-10
Name: dob, Length: 491134, dtype: object

In [103]:
frd_df['birth_year'] = pd.to_datetime(frd_df['dob']).dt.year

In [104]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,cc_mean,job_mean,birth_year
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,56.078113,56.078113,1978
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0,59.858059,59.858059,1980
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,87.328067,87.328067,1974
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0,64.317839,64.317839,1971
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,90.747123,90.747123,1977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,34.853497,-78.664158,0,87.442772,87.442772,1983
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0,58.181297,58.181297,1984
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,50.452289,50.452289,1999
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,88.704297,74.078841,1981
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,61.737724,61.737724,1993

In [105]:
# 'birth_year' 기준으로 'amt'의 평균 계산
#frd_df.groupby('birth_year')['amt'].mean()
frd_df['dob_mean'] = frd_df.groupby('birth_year')['amt'].transform(lambda x: x.mean(skipna=True))

In [106]:
frd_df.drop( ['job_mean'] ,axis=1 , inplace=True)

In [107]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,cc_mean,birth_year,dob_mean
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,56.078113,1978,63.048175
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0,59.858059,1980,58.445994
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,87.328067,1974,64.654092
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0,64.317839,1971,75.371008
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,90.747123,1977,88.065887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,34.853497,-78.664158,0,87.442772,1983,72.216370
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0,58.181297,1984,74.401547
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,50.452289,1999,56.619188
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,88.704297,1981,76.752196
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,61.737724,1993,72.648068

 # Step 2
 
 1. 위도 , 경도 데이터 활용
 
 merchant ... merch_lat (상점 위도 ) , merch_long( 상점 경도 )
 
 stree, city, state ... ?  lat( 구매자 위도 ) long ( 구매자 경도 )

상점과 구매자의 거리? ( 거리가 의미가 있을까. 여행 가면 ? 어차피 멀지 않나.) 

거리 구하겠음. 구매자 위도, 경도 일부 위치를 확인 해 보았을 때, 학습용 위치가 아닐까 싶음. 공터나 녹지 나옴.

In [108]:
from geopy.distance import geodesic

# 거리 계산 함수 정의
def calculate_distance(row):
    merchant_coords = (row['merch_lat'], row['merch_long'])
    customer_coords = (row['lat'], row['long'])
    return geodesic(merchant_coords, customer_coords).kilometers

# 데이터프레임에 적용하여 새로운 열 추가
frd_df['distance_km'] = frd_df.apply(calculate_distance, axis=1)

In [109]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,cc_mean,birth_year,dob_mean,distance_km
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,49.159047,-118.186462,0,56.078113,1978,63.048175,30.216618
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,40.6747,-74.2239,124967,Operational researcher,1980-12-21,40.079588,-74.848087,0,59.858059,1980,58.445994,84.714605
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,40.021888,-74.228188,0,87.328067,1974,64.654092,67.768167
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,42.2203,-83.3583,31515,Police officer,1971-11-05,42.360426,-83.552316,0,64.317839,1971,75.371008,22.322745
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,29.737426,-90.853194,0,90.747123,1977,88.065887,79.398244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,34.853497,-78.664158,0,87.442772,1983,72.216370,98.043837
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,35.008839,-81.475156,0,58.181297,1984,74.401547,127.240424
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,29.0393,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,50.452289,1999,56.619188,100.023736
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,46.1966,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,0,88.704297,1981,76.752196,80.887812
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,35.6665,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,61.737724,1993,72.648068,72.380990

In [110]:
frd_df.describe()

,cc_num,amt,lat,long,city_pop,merch_lat,merch_long,is_fraud,cc_mean,birth_year,dob_mean,distance_km
count,4.911340e+05,491134.000000,491134.000000,491134.000000,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,37.931230,-90.495619,1.213922e+05,37.930272,-90.495411,0.002533,69.050120,1984.384231,69.050120,76.371652
std,1.260229e+18,160.322867,5.341193,12.990732,3.725751e+05,5.372986,13.004100,0.050264,15.039787,9.297579,9.242979,29.143508
min,5.038744e+11,1.000000,24.655700,-122.345600,4.600000e+01,23.655789,-123.345106,0.000000,47.478681,1970.000000,55.054866,0.124180
25%,2.131124e+14,8.960000,33.746700,-97.235100,1.228000e+03,33.781388,-96.984814,0.000000,56.935263,1976.000000,63.048175,55.604425
50%,3.531130e+15,42.170000,38.507200,-87.591700,5.760000e+03,38.545124,-87.573441,0.000000,61.018703,1984.000000,65.961952,78.563223
75%,4.653879e+15,80.330000,41.520500,-80.731000,5.083500e+04,41.624294,-80.685567,0.000000,86.507564,1992.000000,74.401547,98.720741
max,4.956829e+18,25086.940000,48.887800,-69.965600,2.906700e+06,49.887523,-68.965624,1.000000,94.117508,2004.000000,93.724697,149.610127

In [112]:
frd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   first                  491134 non-null  object
 5   last                   491134 non-null  object
 6   street                 491134 non-null  object
 7   city                   491134 non-null  object
 8   state                  491134 non-null  object
 9   lat                    491134 non-null  float64
 10  long                   491134 non-null  float64
 11  city_pop               491134 non-null  int64
 12  job                    491134 non-null  object
 13  dob                    491134 non-null  object
 14  merch_lat              491134 non-null  float64
 15  merch_long             491134 non-null  float64
 16  is_fraud               491134 non-null  int64
 17  cc_mean                491134 non-null  float64
 18  birth_year             491134 non-null  int64
 19  dob_mean               491134 non-null  float64
 20  distance_km            491134 non-null  float64
dtypes: float64(8), int64(4), object(9)
memory usage: 78.7+ MB

In [116]:
frd_df.drop( ['lat', 'long', 'merch_lat', 'merch_long'] ,axis=1 , inplace=True)  # 위도, 경도 컬럼 삭제

2. 통계적 관점으로 접근하여 유용한 변수 도출

In [117]:
############################################################
frd_df[frd_df['is_fraud'] == 1].describe() # 사기친 데이터 확인

,cc_num,amt,city_pop,is_fraud,cc_mean,birth_year,dob_mean,distance_km
count,1.244000e+03,1244.000000,1.244000e+03,1244.0,1244.000000,1244.000000,1244.000000,1244.000000
mean,3.802642e+17,477.958328,7.976371e+04,1.0,65.963252,1985.164791,67.829664,76.753536
std,1.273204e+18,398.229485,2.592555e+05,0.0,14.047271,9.525222,8.990833,28.693476
min,5.038744e+11,6.380000,4.600000e+01,1.0,47.478681,1970.000000,55.054866,1.452639
25%,2.131124e+14,22.895000,8.950000e+02,1.0,56.471236,1976.000000,60.848266,55.734551
50%,3.527537e+15,334.750000,4.542000e+03,1.0,59.667795,1985.000000,65.411771,78.818534
75%,4.642255e+15,865.385000,3.423875e+04,1.0,76.542413,1994.000000,73.604205,98.947272
max,4.956829e+18,1371.810000,2.906700e+06,1.0,94.117508,2004.000000,93.724697,142.368611

In [118]:
frd_df[frd_df['is_fraud'] == 0].describe() # 정상 데이터 확인

,cc_num,amt,city_pop,is_fraud,cc_mean,birth_year,dob_mean,distance_km
count,4.898900e+05,489890.000000,4.898900e+05,489890.0,489890.000000,489890.000000,489890.000000,489890.000000
mean,3.705768e+17,68.011761,1.214979e+05,0.0,69.057959,1984.382249,69.053220,76.370682
std,1.260197e+18,157.926044,3.728133e+05,0.0,15.041431,9.296920,9.243414,29.144665
min,5.038744e+11,1.000000,4.600000e+01,0.0,47.478681,1970.000000,55.054866,0.124180
25%,2.131124e+14,8.950000,1.228000e+03,0.0,56.935263,1976.000000,63.048175,55.604026
50%,3.531130e+15,42.080000,5.760000e+03,0.0,61.018703,1984.000000,65.961952,78.561992
75%,4.653879e+15,80.060000,5.083500e+04,0.0,86.507564,1992.000000,74.401547,98.720040
max,4.956829e+18,25086.940000,2.906700e+06,0.0,94.117508,2004.000000,93.724697,149.610127

In [128]:
#### 정상 데이터 확인 해보기
# pd.DataFrame(frd_df[frd_df['is_fraud'] == 0]['distance_km']) # 비 사기 데이터 확인
frd_df[frd_df['is_fraud'] == 0]['distance_km'].sort_values()

404198      0.124180
388223      0.147975
38620       0.221846
191905      0.296009
404500      0.349377
             ...
153357    147.599755
348302    148.038489
395031    148.049327
437456    148.603889
42676     149.610127
Name: distance_km, Length: 489890, dtype: float64

In [131]:
frd_df.loc[42676]

trans_date_trans_time              2019-03-26 21:51:23
cc_num                             4906628655840914250
merchant                       fraud_Gaylord-Powlowski
amt                                              30.26
first                                          Charles
last                                            Moreno
street                   838 Franklin Prairie Apt. 902
city                                          Key West
state                                               FL
city_pop                                         32891
job                                       Town planner
dob                                         1987-02-13
is_fraud                                             0
cc_mean                                      54.243453
birth_year                                        1987
dob_mean                                     64.261107
distance_km                                 149.610127
Name: 42676, dtype: object

In [135]:
frd_df[frd_df['is_fraud'] == 1].groupby('cc_num').count().sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

In [151]:
fraud_counts = frd_df[frd_df['is_fraud'] == 1].groupby('cc_num').size()

In [152]:
fraud_counts.sort_values(ascending=False)

cc_num
6538441737335434    18
2720433095629877    16
213112402583773     16
3556613125071656    16
3518669219150142    16
                    ..
3551217896304745     3
6011893664860915     2
6011109736646996     2
3576431665303017     2
3518234918950662     2
Length: 122, dtype: int64

In [159]:
frd_df[frd_df['cc_num'] == 4716561796955522]
#['is_fraud'] == '1'  #### 건수가 많다.  is_fraud ==1 인 카드번호는 ... 전체로 볼때, 데이터 건수 자체가 많은듯 하다.

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,city_pop,job,dob,is_fraud,cc_mean,birth_year,dob_mean,distance_km
12,2019-01-01 00:45:13,4716561796955522,"fraud_Huel, Hammes and Witting",92.84,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,102.570044
77,2019-01-01 06:03:32,4716561796955522,fraud_Prohaska-Murray,68.47,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,54.963058
163,2019-01-01 12:01:14,4716561796955522,fraud_Kulas Group,7.01,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,79.198109
199,2019-01-01 13:02:10,4716561796955522,"fraud_Baumbach, Feeney and Morar",2.55,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,65.401070
202,2019-01-01 13:05:06,4716561796955522,"fraud_Yost, Schamberger and Windler",73.46,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,62.370165
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490330,2020-12-31 06:24:48,4716561796955522,fraud_Corwin-Collins,33.75,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,78.758657
490836,2020-12-31 18:40:02,4716561796955522,"fraud_Nitzsche, Kessler and Wolff",1.10,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,42.840721
490875,2020-12-31 19:14:59,4716561796955522,fraud_Terry Ltd,29.64,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,46.676636
490918,2020-12-31 20:05:08,4716561796955522,"fraud_Monahan, Bogisich and Ledner",7.53,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,64.859429
491123,2020-12-31 23:42:55,4716561796955522,fraud_Mohr Inc,4.93,Lauren,Anderson,11014 Chad Lake Apt. 573,Heart Butte,MT,743,Water engineer,1972-05-04,0,52.537867,1972,65.411771,49.380601

알고 싶은 것은 ?

비 사기데이터 중, 데이터 row수가 많은 cc_num을 알고 싶어. but 사기 데이터 cc_num 은 비사기데이터도 있어.

---------------------------------------------------------------------------------------------------------

사기 데이터가 쌓인 적이 없는 cc_num 중, row 수가 가장 많은 cc_num( 사람 )을 알고싶어. 기존의 사기데이터는 비사기 데이터 포함, row수가 많았다. ( 확인 카드번호들은 4000 건 이상 임 )

In [162]:
frd_df[frd_df['is_fraud'] == 1]['cc_num']

4794          581686439828
4816          581686439828
4979          581686439828
5073          581686439828
5124          581686439828
                ...
477832    4716561796955522
477847    4716561796955522
479296    4716561796955522
479305    4716561796955522
479341    4716561796955522
Name: cc_num, Length: 1244, dtype: int64

In [170]:
T_frd_cc_nums = set(T_frd_df['cc_num'].unique())  # 사기데이터

In [171]:
F_frd_cc_nums = set(F_frd_df['cc_num'].unique()) # 비 사기데이터

In [172]:
cc_num_difference = F_frd_cc_nums - T_frd_cc_nums # 차집합

In [175]:
cc_num_difference

{3583635130604947, 6011367958204270}

In [178]:
frd_df[frd_df['cc_num'].isin(cc_num_difference)].describe()

,cc_num,amt,city_pop,is_fraud,cc_mean,birth_year,dob_mean,distance_km
count,8.760000e+03,8760.000000,8.760000e+03,8760.0,8760.000000,8760.000000,8760.000000,8760.000000
mean,4.797502e+15,91.070268,7.669260e+05,0.0,91.070268,1986.500000,69.757860,75.152208
std,1.213936e+15,163.072424,7.593233e+05,0.0,1.713925,1.500086,3.796125,28.522326
min,3.583635e+15,1.000000,7.646000e+03,0.0,89.356441,1985.000000,65.961952,0.469721
25%,3.583635e+15,18.937500,7.646000e+03,0.0,89.356441,1985.000000,65.961952,55.231770
50%,4.797502e+15,54.160000,7.669260e+05,0.0,91.070268,1986.500000,69.757860,77.096263
75%,6.011368e+15,115.045000,1.526206e+06,0.0,92.784096,1988.000000,73.553768,97.064136
max,6.011368e+15,8524.520000,1.526206e+06,0.0,92.784096,1988.000000,73.553768,138.745590

In [180]:
cc_diff_df  = frd_df[frd_df['cc_num'].isin(cc_num_difference)]

In [181]:
cc_num_counts = (
    cc_diff_df.groupby('cc_num').size()  # 각 그룹의 크기를 계산
    .reset_index(name='count')           # 데이터프레임으로 전환
    .sort_values(by='count', ascending=False)  # count를 기준으로 내림차순 정렬
)

In [182]:
cc_num_counts

             cc_num  count
0  3583635130604947   4380
1  6011367958204270   4380

In [183]:
sorted_cc_diff_df = cc_diff_df.merge(cc_num_counts[['cc_num']], on='cc_num', how='inner')

In [187]:
sorted_cc_diff_df  ## 사기 데이터 의심 되는... 정상데이터 ? 이 중 사기 데이터 row를 확인하는..... 어떤.... 기준을 알면 좋겠다.
## 만일 회사라면, 해당 카드번호를 담당자에게 넘기겠음.

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,city_pop,job,dob,is_fraud,cc_mean,birth_year,dob_mean,distance_km
0,2019-01-01 01:46:08,6011367958204270,"fraud_Reilly, Heaney and Cole",83.10,Tammy,Ayers,1652 James Mews,Hinckley,OH,7646,Medical sales representative,1988-09-15,0,92.784096,1988,65.961952,107.899900
1,2019-01-01 17:47:04,6011367958204270,"fraud_Gottlieb, Considine and Schultz",214.84,Tammy,Ayers,1652 James Mews,Hinckley,OH,7646,Medical sales representative,1988-09-15,0,92.784096,1988,65.961952,111.812410
2,2019-01-01 18:45:34,6011367958204270,"fraud_Bradtke, Torp and Bahringer",1.68,Tammy,Ayers,1652 James Mews,Hinckley,OH,7646,Medical sales representative,1988-09-15,0,92.784096,1988,65.961952,53.666904
3,2019-01-01 22:23:51,6011367958204270,fraud_Rempel Inc,3.58,Tammy,Ayers,1652 James Mews,Hinckley,OH,7646,Medical sales representative,1988-09-15,0,92.784096,1988,65.961952,93.146579
4,2019-01-01 23:57:00,6011367958204270,"fraud_Hettinger, McCullough and Fay",101.12,Tammy,Ayers,1652 James Mews,Hinckley,OH,7646,Medical sales representative,1988-09-15,0,92.784096,1988,65.961952,118.556878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2020-12-31 21:15:38,3583635130604947,fraud_Lynch-Mohr,1.46,Crystal,Gamble,899 Michele View Suite 960,Philadelphia,PA,1526206,Structural engineer,1985-01-01,0,89.356441,1985,73.553768,120.186842
8756,2020-12-31 21:40:38,3583635130604947,"fraud_Bahringer, Schoen and Corkery",1.31,Crystal,Gamble,899 Michele View Suite 960,Philadelphia,PA,1526206,Structural engineer,1985-01-01,0,89.356441,1985,73.553768,100.953770
8757,2020-12-31 21:47:58,3583635130604947,"fraud_Stanton, Jakubowski and Baumbach",8.86,Crystal,Gamble,899 Michele View Suite 960,Philadelphia,PA,1526206,Structural engineer,1985-01-01,0,89.356441,1985,73.553768,77.180681
8758,2020-12-31 22:57:57,3583635130604947,"fraud_O'Connell, Botsford and Hand",134.72,Crystal,Gamble,899 Michele View Suite 960,Philadelphia,PA,1526206,Structural engineer,1985-01-01,0,89.356441,1985,73.553768,86.792707
8759,2020-12-31 23:33:17,3583635130604947,fraud_Kilback LLC,43.47,Crystal,Gamble,899 Michele View Suite 960,Philadelphia,PA,1526206,Structural engineer,1985-01-01,0,89.356441,1985,73.553768,65.676636

In [186]:
frd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   amt                    491134 non-null  float64
 4   first                  491134 non-null  object
 5   last                   491134 non-null  object
 6   street                 491134 non-null  object
 7   city                   491134 non-null  object
 8   state                  491134 non-null  object
 9   city_pop               491134 non-null  int64
 10  job                    491134 non-null  object
 11  dob                    491134 non-null  object
 12  is_fraud               491134 non-null  int64
 13  cc_mean                491134 non-null  float64
 14  birth_year             491134 non-null  int64
 15  dob_mean               491134 non-null  float64
 16  distance_km            491134 non-null  float64
dtypes: float64(4), int64(4), object(9)
memory usage: 63.7+ MB

시간대: trans_date_trans_time을 시간대로 분. 새벽, 아침, 오후, 저녁으로 나누면 특정 시간대에 사기가 발생할 확률을 파악 .

( 주로 새벽에 발생 활률이 높다고 함 )

In [189]:
# trans_date_trans_time을 datetime 형식으로 변환
frd_df['trans_datetime'] = pd.to_datetime(frd_df['trans_date_trans_time'])

In [190]:
# 시간대 나누기: 새벽 (0~6시)
def get_time_of_day(hour):
    if 0 <= hour < 6:
        return 'night'  # 가능 : 사기 시간대
    elif 6 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 18:
        return 'afternoon'
    else:
        return 'evening'

In [191]:
frd_df['time_of_day'] = frd_df['trans_datetime'].dt.hour.apply(get_time_of_day)

In [193]:
# 새벽에 발생한 거래 표시
frd_df['is_anomalous'] = frd_df['time_of_day'] == 'night'

In [194]:
frd_df

,trans_date_trans_time,cc_num,merchant,amt,first,last,street,city,state,city_pop,job,dob,is_fraud,cc_mean,birth_year,dob_mean,distance_km,trans_datetime,time_of_day,is_anomalous
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,149,Special educational needs teacher,1978-06-21,0,56.078113,1978,63.048175,30.216618,2019-01-01 00:00:44,night,True
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",44.71,Kenneth,Robinson,269 Sanchez Rapids,Elizabeth,NJ,124967,Operational researcher,1980-12-21,0,59.858059,1980,58.445994,84.714605,2019-01-01 00:12:34,night,True
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,46.28,Mary,Wall,2481 Mills Lock,Plainfield,NJ,71485,Leisure centre manager,1974-07-19,0,87.328067,1974,64.654092,67.768167,2019-01-01 00:17:16,night,True
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,64.09,Daniel,Escobar,61390 Hayes Port,Romulus,MI,31515,Police officer,1971-11-05,0,64.317839,1971,75.371008,22.322745,2019-01-01 00:20:15,night,True
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,25.58,Jenna,Brooks,50872 Alex Plain Suite 088,Baton Rouge,LA,378909,"Designer, furniture",1977-02-22,0,90.747123,1977,88.065887,79.398244,2019-01-01 00:23:41,night,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,134.26,Rebecca,Erickson,594 Berry Lights Apt. 392,Wilmington,NC,186140,English as a second language teacher,1983-02-08,0,87.442772,1983,72.216370,98.043837,2020-12-31 23:56:48,evening,False
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",25.49,Ana,Howell,4664 Sanchez Common Suite 930,Bradley,SC,1523,Research scientist (physical sciences),1984-06-03,0,58.181297,1984,74.401547,127.240424,2020-12-31 23:56:57,evening,False
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,111.84,Jose,Vasquez,572 Davis Mountains,Lake Jackson,TX,28739,Futures trader,1999-12-27,0,50.452289,1999,56.619188,100.023736,2020-12-31 23:59:09,evening,False
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,86.88,Ann,Lawson,144 Evans Islands Apt. 683,Burbank,WA,3684,Musician,1981-11-29,0,88.704297,1981,76.752196,80.887812,2020-12-31 23:59:15,evening,False
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,38.13,Samuel,Frey,830 Myers Plaza Apt. 384,Edmond,OK,116001,Media buyer,1993-05-10,0,61.737724,1993,72.648068,72.380990,2020-12-31 23:59:34,evening,False

In [195]:
frd_df[frd_df['is_fraud'] == 1].groupby('is_anomalous').size()

is_anomalous
False    664
True     580
dtype: int64

In [196]:
# 전체 사기 데이터 중 46.62%가 새벽 시간 대 생성 됨
580/(664+580) * 100

46.62379421221865

#### 6.2 실무팁 내용이 시작부터 나와 다름. 
프로젝트 반영 제출하지 않아도 된다고 함.